@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --cor-texto: black;
    --cor-texto-destaque: rgb(255, 115, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/bg15.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 100px);
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

header {
    position: absolute;
    top: -20px;
    right: 20px;
    left: 20px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
    color: var(--cor-texto);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

.logomoni img {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--cor-texto);
    padding: 8px 15px;
    border-radius: 25px;
}

header ul li a:hover,
header ul li a.active {
    background: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

.container .card .imgBx {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx {
    transform: translateY(-100px);
}

.container .card:hover .titulo h4 {
    transform: translateY(-100px);
}

.container .card .imgBx img {
    max-width: 50%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img {
    transform: scale(1.4);
}

.container .card .titulo h4 {
    color: white;
    font-weight: 600;
    text-shadow: 0.1em 0.1em 0.2em black;
    transition: 0.5s ease-in-out;
}

.container .card .content {
    position: absolute;
    padding: 10px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.container .card .content h3 {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
}

.container .card:hover .content {
    opacity: 1;
    visibility: visible;
}

.container .card .content a {
    position:relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(255, 115, 0);
    text-decoration: none;
}

.container .card .content a .whats {
    position:relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(19, 196, 13);
    text-decoration: none;
}

.sci {
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sci li a img {
    transform: scale(0.6);
    transition: 0.5s;
}

.sci li:hover a img {
    transform: scale(0.6) rotate(360deg);
}

.copyrightText {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: var(--cor-texto);
    font-size: 0.8em;
}

@media (max-width: 1400px) {
    .container .card .titulo h4 {
        font-size: 0.7em;
    }
}

@media (max-width: 1200px) {
    .container {
        position: relative;
        width: calc(100% - 20px);
    }
}

@media (max-width: 992px) {
    section {
        padding: 50px 10px 10px;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .container .card .titulo h4 {
        font-size: 1em;
    }

    .container .content {
        transform: translateX(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: 40px;
    }

    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: -60px;
        padding: 20px;
        right: 0;
        left: 0;
    }

    header ul {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    header ul li {
        margin: 2px;
    }

    header ul li a {
        display: inline-block;
    }

    .imgBx {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .sci {
        position: relative;
        flex-direction: row;
        left: 0;
    }

    .sci li a {
        margin: 0 10px;
    }

    .copyrightText {
        position: relative;
        bottom: initial;
        left: inherit;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .content h2 {
        font-size: 1.2em;
    }
}